<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author's Guidelines</title>
    <link rel="stylesheet" href="/static/css/author.css">
</head>

<body>
    <div id="author">
        <div class="headline">
            <h1>Authors Guidelines</h1>
        </div><br><br>
        <div class="list">
            <li>Introduction</li>
            <p>NeuroQuantology (ISSN 1303-5150) is a journal dedicated to supporting the interdisciplinary exploration
                of the nature of quantum physics and its relation to the nervous system. Interdisciplinary discussions
                are particularly encouraged. Contributions must be only English.</p>
            <br>
            <li>Types of contribution</li>
            <p>NeuroQuantology is committed to offering readers a stimulating mixture of reviews, original articles,
                short communications, perspectives and tutorials. Reviews, written by leading experts, summarize the
                important results of recent research within the journal scope. The journal highlights joint
                contributions by neuroscientist and physicists and fosters interdisciplinary research.</p>

            <br>
            <li>Review articles</li>
            <p>Review articles should be complete, critical evaluations of the existing state of knowledge in a
                particular topic or area within the scope of the journal. Rather than a 'collage' of detailed
                information with a complete literature survey, a critically selected treatment of the material is
                desired; unsolved problems and possible developments should also be discussed. The introduction of a
                review article should primarily introduce the non-specialist to the subject as clearly as possible. A
                review should conclude with a section entitled 'Summary and outlook' in which the achievements of and
                new challenges for the subject are outlined succinctly. Length: a review article manuscript should
                consist of a maximum of 30 pages of text, footnotes, literature citations, tables and legend; there
                should be no more than 30 references.</p>
            <br>
            <li>Articles (original research papers)</li>
            <p>Articles should be comprehensive, fully documented reports of original research. They should be concise
                but with complete results and conclusions. Authors are encouraged to take advantage of the Web features
                available (including 3D animations, video and sound). Manuscripts should be divided into the following
                sections, each beginning on a new page: Title page, Abstract, Introduction, Materials and methods,
                Results and discussion, Conclusion and outlook, Acknowledgments, Abbreviations list, References.</p>
            <br>

            <div class="inerlist">
                <li>Abstract</li>
                <p>
                    Articles have an abstract, separate from the text, of up to 300 words and that should not contain
                    any
                    references, numbers, abbreviations, or acronyms unless absolutely necessary. The abstract should
                    give
                    readers concise information about the content of the article. It should not only indicate the
                    general
                    scope of the article but also state the main results obtained and conclusions drawn. When preparing
                    their abstracts, authors should keep in mind that this summary is aimed at an interdisciplinary
                    audience
                    which includes readers outside of their field.
                </p>
                <br>
                <li>Introduction</li>
                <p>An introduction of up to 800 words should include a statement explaining the motivation for the
                    research
                    and should accurately place the investigations in context with previous or current work in the
                    field.
                </p>
                <br>
                <li>Experimental section</li>
                <p>This section provides a clear, unambiguous description of methods, materials and equipment in
                    sufficient detail to permit reproduction of the work. Please note that communications, which are
                    preliminary reports of original significant research results, should keep experimental details to a
                    minimum.</p>
                <br>
                <li>Results and discussion</li>
                <p>These sections should present the results and interpret them in a clear and concise manner.</p>
                <br>
                <li>Conclusion and outlook</li>
                <p>This last section should outline succinctly the results, present possible important applications of
                    the work, suggestions for future research studies, and reflections on new challenges for the
                    subject.</p>
                <br>
            </div>
            <li>Opinion and Perspectives</li>
            <p>
                Perspectives should present a personal view on a topic within the scope of the journal. Keywords should
                be provided by the author(s). These articles may contain topical, historical or biographical information
                on relevant research, technologies and future research needs.
            </p>
            <br>
            <li>How to prepare your article, Please make note of the following:</li>
            <br>
            <div class="inerlist">
                <li>Article title</li>
                <p>The title should clearly and concisely reflect the content of the article. Titles are very important
                    for current awareness and information retrieval and therefore should be carefully constructed for
                    these purposes.</p>
                <br>
                <li>Keywords</li>
                <p>All authors are required to provide up to five keywords characterizing the topic of their article.
                </p>
                <br>
                <li>Names and addresses</li>
                <p>For multiple-authored articles list the names and affiliations of all the authors, the email
                    address(es), the full postal addresses, using identifiers to link an author with an address where
                    necessary.</p>
                <br>
                <li>
                    References and footnotes
                </li>
                <p>Citation of literature references in the text should be given at the appropriate place by the
                    author's name followed by year in parentheses. Should there be more than two authors, the first
                    author's name should be followed by et al. When there are two or more papers by the same author(s)
                    appearing in the same year these should be distinguished by a, b, c, etc. after the year. All
                    references cited in the text should be listed at the end of the paper on a separate page according
                    to the Harvard system, i.e., arranged in alphabetical order according to the first author followed
                    by the second author, then with all papers with more than two authors being arranged in
                    chronological order.</p>
                <br>
                <p>Every reference cited in the text should appear in the list of references and vice versa. Literature
                    references must be complete, including initials of author(s) cited, title of paper referred to, and
                    title of journal, year, followed by volume and first and last pages of article.</p>
                <br>
                <p>The form of literature references to books should be author, initials, title of book, volume or
                    edition, publisher, city, year and page number(s) referred to. References to authors contributing to
                    multi-author books or to proceedings printed in book form should be similar to those for books.</p>
                <br>
                <p style="font-weight: bold;">Article sample - </p>
                <p>Woolf N, Craddock T, Friesen D, Tuszynski J. Neuropsychiatric illness: a case for impaired
                    neuroplasticity and possible quantum processing derailment in microtubules. NeuroQuantology 2010;
                    8(1): 13-28. </p>
                <br>
                <p style="font-weight: bold;">Article sample - </p>
                <p>Hameroff S and Penrose R. Conscious Events as Orchestrated Space-Time Selections. NeuroQuantology
                    2003; 1 (1): 10-35. </p>
                <br>
                <p style="font-weight: bold;">Book sample -</p>
                <p>Eccles JC. The Neurophysiological Basis of Mind. Oxford University Press, 1952.</p>
                <br>
                <p style="font-weight: bold;">Book sample -</p>
                <p>Laszlo E. The Connectivity Hypothesis, N.Y: State Univ. New York, 2003.</p>
                <br>
                <p style="font-weight: bold;">Web URL sample -</p>
                <p>Pitkanen M. Topological Geometrodynamics Inspired Quantum Model of Living Matter. </p>
                <a
                    href="http://www.neuroquantology.com/journal/index.php/articlecle/view/325">http://www.neuroquantology.com/journal/index.php/articlecle/view/325</a>
                <p style="font-weight: 600;">Accessed date: December 18, 2013. </p>
                <br>
                <li>Web references</li>
                <p>As a minimum, the full URL should be given and the date when the reference was last accessed. Any
                    further information, if known (DOI, author names, dates, reference to a source publication, etc.),
                    should also be given. Web references can be listed separately (e.g., after the reference list) under
                    a different heading if desired, or can be included in the reference list.</p>
                <br>
                <li>Mathematics and Symbols</li>
                <p>You should take care when writing mathematical articles especially regarding subscripts and
                    superscripts and differentiation between the letter 'l' and the figure one, C and c, S and s, k, K
                    and other similar groups of letters. If your article contains superscripts or subscripts to
                    superscripts or subscripts, take special care to ensure that the positioning of the characters is
                    unambiguous.</p>
                <br>
                <p>If special symbols are needed (e.g., Greek characters, accented characters or mathematical symbols)
                    these should be typed using the appropriate TrueType font. Do not use the Symbol facility on the
                    'Insert' menu as this often results in font conversion problems. Equations must be prepared using
                    Equation Editor or MathType.</p>
                <br>
                <li>Figures and tables</li>
                <p>You may illustrate your text by line diagrams and photographs. The figures should be clear, easy to
                    read and of good quality. We accept maximum 7 figure per manuscript. We will normally use figures as
                    submitted; it is therefore your responsibility to ensure that they are correct.</p>
                <br>
                <li>Figure captions</li>
                <p>uthors are required to provide a list of captions describing each figure and identifying the symbols
                    used.</p>
                <br>
                <li>Color illustrations</li>
                <P>The use of color in illustrations can enhance the effective presentation of results, and we are
                    pleased to offer free reproduction of color illustrations in the electronic version of
                    NeuroQuantology. There is no charge for color reproduction of illustrations in the electronic
                    version of the journal when the use of color is clearly required to further understanding and
                    communication.</P>
                <br>
                <li>Multimedia</li>
                <p>We encourage authors to submit multimedia attachments to enhance the online versions of published
                    research articles. Multimedia enhancements typically consist of video clips, animations or
                    supplementary data such as data files, tables of extra information or extra figures. They can add to
                    the reader's understanding and present results in attractive ways that go beyond what can be
                    presented in the print version of the journal.</p>
                <br>
            </div>
            <li>What files to submit</li>
            <p>:: We are able to receive articles prepared using Microsoft Word for Windows (preffered *.doc, *.rtf
                files)</p>
            <p>:: We are able to receive articles prepared using MikTeX and Scientific Workplace (*.TeX file)</p>
            <br>
            <div class="inerlist">
                <li>Figures</li>
                <p>Our preferred graphics format is JPEG. These files can be used directly to give high quality results
                    and file sizes are small in comparison with most bitmap forms. Most graphics software has the
                    facility to save as or export as JPEG. Files in most bitmap formats are acceptable, including:
                    *.tiff, *.bmp, and *.jpg.</p>
                <br>
                <li>Multimedia: Video clips and animation</li>
                <p>Acceptable formats for video or animation clips are MPEG, QuickTime, Windows AVI or Animated GIF.</p>
                <br>
            </div>
            <li>Refereeing Process</li>
            <p>All contributions that are selected for peer review are sent to two independent reviewers (one reviewer
                for invited articles). You can track your article situation. </p>
            <br>
            <li>Proofs</li>
            <p>Proofs of articles are usually sent to you for correction by e-mail as an annotated Microsoft word *.doc
                file attachment. When checking your proofs you should take particular care checking mathematics, tables
                and references. Only essential corrections should be made.</p>
            <br>
            <li>Common Errors in Literature Cited</li>
            <p>Do not cite abstracts, papers presented at seminars or conferences for which there are no published
                proceedings unless those papers are accessible online, or papers that are being reviewed by a journal
                but have not yet been formally accepted for publication. Use a carriage return (the enter key) to
                separate the entries in Literature Cited.</p>
            <br>
            <p style="font-weight:600 ;">False Phys. Rev. Lett. 2007; 98: 038101.</p>
            <p>True Phys Rev Lett 2007; 98: 038101.</p>
            <p style="font-weight:600 ;">False Science, 1999; 285: 1249-1253</p>
            <p>True Science 1999; 285: 1249-1253</p>
            <p style="font-weight:600 ;">False Hemley RJ. Turning off the Water, Nature 1995; 378: 14.</p>
            <p>True Hemley RJ. Turning off the Water. Nature 1995; 378: 14.</p>
            <p style="font-weight:600 ;">False Wigner, E. P. Physics and Explanations of Life. Foundations of Physics
                1970;1:35-45.</p>
            <p>True Wigner EP. Physics and Explanations of Life. Foundations of Physics 1970;1:35-45.</p>
            <p style="font-weight:600 ;">False Phillips, R. & Quake, S. R. The Biological Frontier of Physics. Physics
                Today 2006; 59(5): 38-43.</p>
            <p>True Phillips R and Quake SR. The Biological Frontier of Physics. Physics Today 2006; 59(5): 38-43.</p>
            <p style="font-weight:600 ;">False Josephson B. (2002) Beyond quantum theory: a realist psycho-biological
                interpretation of reality' revisited. BioSystems 44: 43-45.</p>
            <p>True Josephson B. Beyond quantum theory: a realist psycho-biological interpretation of reality'
                revisited. BioSystems 2002;44: 43-45.</p>
        </div>
    </div>
</body>

</html>