<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comitte.css">
    <title>Chair</title>
</head>
<body>
    <h1 class="header">Chairs</h1>
    <div class="wrapper">
        <div class="heading"> <h2>Conference Chair</h2></div>
        <div class="box3" id="patron">
            <div class="iac">
                <h3>Dr.R.N.Awade</h3>
                <p>Professor & TEQIP-II Cordinator,Faculty Incharge Finance<br>Veermata Jijabai Technical Institute,Mumbai</p>
            </div>
        </div>       
        <div class="heading"> <h2>Session Chair</h2></div>
        <div class="boxA" id="organizing">
            <div class="iac">
                <h3>Dr.G.D.Bhutkar</h3>
                <p>Professor<br>Vishwakarma Institute of Technology(VIT),Pune</p>
            </div>
            <div class="iac">
                <h3>Dr.A.P.Thakre</h3>
                <p>Professor<br>Department of Electronics and Telecommunication <br>
                    Sipna COET,India</p>
            </div>
            <div class="iac">
                <h3>Dr.A.A.Gurjar</h3>
                <p>Professor and IQAC coordinator<br>Department of Electronics and Telecommunication <br> Sipna COET,India</p>
            </div>
            <div class="iac">
                <h3>Dr.Pinky Roy</h3>
                <p>Associate Dean Research Centre<br>NIT Silchar,Assam
                   Dr.Badal Soni, AssociateProfessor,NIT Silchar,Assam
                    </p>
            </div>
            <div class="iac">
                <h3>Dr.Dhanptatap Singh</h3>
                <p>Associate Professor<br>,Lovely Professional University,Punjab
                    </p>
            </div>
        </div>

    </div>
    
</body>
</html>