<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Displays site properly based on user's device -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <title>FAQ</title>

    <link rel="stylesheet" href="/static/css/FAQstyle.css">
</head>
<body>
    <main class="wrapper">
        <div class="image__wrapper">
            <div class="image__wrapper_inner">

            </div>
            <img class="box" src="/static/images/illustration-box-desktop.svg" alt="box">
        </div>
    <div class="accordion__wrapper">
        <h1 class="title__accordion">FAQ</h1>
        <div class="questions__accordions">
            <div class="question-answer__accordion">
                <div class="question">
                    <h3 class="title__question">
                        Can i sumbit my paper other than Word,Latex or PDF?
                    </h3>
                    <img src="/static/images/icon-arrow-down.svg" >
                </div>
                <div class="answer">
                    No. We accepts only PDF at the time of paper submission. Moreover, we require MS Word or Latex sources at the time of Camera-ready copy (CRC) submission.
                </div>
            </div>

            <div class="question-answer__accordion">
                <div class="question">
                    <h3 class="title__question">
                        Can I negotiate the registration fees?
                    </h3>
                    <img src="/static/images/icon-arrow-down.svg" >
                </div>
                <div class="answer ">
                    No. However, you can make a request to Prgram Chair
                </div>
            </div>

            <div class="question-answer__accordion">
                <div class="question">
                    <h3 class="title__question">
                        How many reviewers will review my paper?
                    </h3>
                    <img src="/static/images/icon-arrow-down.svg" >
                </div>
                <div class="answer ">
                    At least three reviewers.
                </div>
            </div>

            <div class="question-answer__accordion">
                <div class="question">
                    <h3 class="title__question">
                        Can I present my paper through online mode?
                    </h3>
                    <img src="/static/images/icon-arrow-down.svg" >
                </div>
                <div class="answer ">
                    Yes. However, this conference will be held in Hybrid mode. 
                </div>
            </div>
            
            <div class="question-answer__accordion">
                <div class="question">
                    <h3 class="title__question">
                        Can the submission date be extended?
                    </h3>
                    <img src="/static/images/icon-arrow-down.svg" >
                </div>
                <div class="answer ">
                    No. It's hard deadline.
                </div>
            </div>

        </div>
    </div>
    </main>
   
    
    <script src="/static/js/FAQscript.js"></script>
</body>
</html>