<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    {{!-- <meta name="viewport"  content="width=device-width"> --}}

  <title>SiCON 2023</title>
  <!-- Favicons -->
        <link href="/static/images/sipnalogo.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet"> 

        <!-- Bootstrap CSS File -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/vendor/animate/animate.min.css" rel="stylesheet">
        <link href="/static/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/static/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

<link rel="stylesheet" href="/static/css/style.css">


</head>
<body>
<!-- partial:index.partial.html -->
<!-- Hero -->
  <section class="et-hero-tabs">
    <!-- corousal starts -->
    <!-- <h1>STICKY SLIDER NAV</h1> -->
    <!-- <h3>Sliding content with sticky tab nav</h3> -->
    <div class="head">
      <img src="/static/images/s1.jpg" id="back-img" style="filter: brightness(40%);" alt="...">
      <div id="title">
        {{!-- <h5>SiCON 2023</h5> --}}
        {{!-- <h4>Sipna College Of Engineering And Technology</h4> --}}
        <p>SiCON 2023</p>
        <h5>International Conference on <br> Internet of Things (IoT), Big Data & Machine Learning</h5>
      </div>
    </div>
        
    <!-- corousal ends here -->

    <div class="et-hero-tabs-container" id="navbase">

       
            <a id="home" class="et-hero-tab " href="#tab-home">Home</a>
        <a class="et-hero-tab " href="#tab-papers">Speaker & Chair
      <a class="et-hero-tab" href="#tab-commitee">Committee</a>
        <a class="et-hero-tab " href="#tab-speakers">Call For Paper
      <a class="et-hero-tab" href="#tab-sponsors">Paper Submission</a>
            
      <a class="et-hero-tab" href="#tab-dates">Important Dates</a>
      <a class="et-hero-tab" href="#tab-faqs">FAQs</a>
      <a class="et-hero-tab" href="#tab-contact">Contact Us</a>
      <span class="et-hero-tab-slider"></span>
    </div>

  </section>


  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-home">
        <div class="title-head">
            <img id="img1" src="/static/images/sipnalogo.png" alt="">
            <div class="titleText">
        <h4>Sipna College of Engineering and Technology</h4>
        <h3>Department of Computer Science & Engineering</h3>
        </div>

            <img id="img2" src="/static/images/logos.png" alt="">
        </div>
       <div id="wrapper">
        <div class="sicon">
            <img src="/static/images/logo.png" alt="logo">
            <h1>SiCON 2023</h1>
        </div>
        <div class="headingHome">
            <h2>Welcome to IOTBML 2023</h2>
            <p >International Conference on Internet of Things (IoT), Big Data & Machine Learning </p>
        </div>
        <div class="paraHome">
            <p>We are pleased to invite the academic and research community to participate in the IOTBML 2023- International Conference on Internet of Things (IoT), Big Data and Machine Learning, is scheduled on 28<sup>th</sup> of July 2023 organised by Department of Computer Science and Engineering, Sipna College of Engineering and Technology, Amravati, Maharashtra, India.
                <br>IOTBML is a technical and scientific multidisciplinary event, whose purpose is to present and discuss knowledge, new perspectives, experiences and innovations in the Information Systems and Technologies field. 
                </p>

                <br>
                <h2>Publication</h2>
                
                <img src="/static/images/Elsevier.png" alt="">
                <p>.<br>All the accepted papers from the IOTBML 2023<br>proposed to be published in the ELSEVIER-SCOPUS listed journal.</p>

        </div>
        <p><a href="/upload"><button class="buttonHome">Submit Paper</button></a></p>
    </div>
    </section>
    <section class="et-slide" id="tab-papers">
      
                    <h1>Speaker and Conference Chair</h1>
<section id="speaker">
            <div class="container">                
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/Manesh-Kokare.jpeg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols content-cols-right">
                        <div class="content-col">
                            <h3>Keynote Speaker</h3>
                            <h2>Dr. Manesh Kokare</h2>
                            <h4>Professor and Head, Department of Electronics and Telecommunication Engineering</h4>
                            <p>
                                S.G.G.S. Institute Of Engineering and Technology, Vishnupuri, Nanded, Maharashtra, India
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 img-cols d-block d-md-none">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/Raval-Awale.jpeg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols  content-cols-left">
                        <div class="content-col">
                            <h3>Conference Chair</h3>
                            <h2>Dr.R.N.Awade</h2>
                            <h4>Professor and TEQIP-II Coordinator,</h4>
                            <p>
                                Faculty Incharge Finance
                                Veermata Jijabai Technical Institute (VJTI), Mumbai                            
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/Raval-Awale.jpeg">
                        </div>
                    </div>
                </div>
                
                {{!-- <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/speaker-3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols content-cols-right">
                        <div class="content-col">
                            <h3>Britney Swanson</h3>
                            <h4>Data Analyst</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
                            </p>
                            <div class="social-links">
                                <a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 img-cols d-block d-md-none">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/speaker-4.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols  content-cols-left">
                        <div class="content-col">
                            <h3>Matthew Lyons</h3>
                            <h4>HR Specialist</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
                            </p>
                            <div class="social-links">
                                <a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/images/speaker-4.jpg">
                        </div>
                    </div> --}}
                </div>
            </div>
        </section>
        <!-- Speaker Section End -->      
    </section>
    <section class="et-slide" id="tab-commitee">
      <h1 class="headerCom">Committee</h1>
    <div class="wrapperCom">
           
        <div class="headingCom"> <h2>Chief Patron</h2></div>
        <div class="" id="cheifPatron">
            <div class="iac">
                <h3>Hon'ble Shri Jagdishji Gupta</h3>
                <p>Chairman<br>Sipna Shikshan Prasarak Mandal</p>
            </div>
        <div class="headingCom"> <h2>Patron</h2></div>
        <div class="box3" id="Patron">
            <div class="iac">
                <h3>Dr.S.M.Kherde</h3>
                <p>Principal<br>Sipna College of Engineering and Technology<br>
                   </p>
            </div>
            <div class="iac">
                <h3>Dr.R.M.Kadu</h3>
                <p>Secretary<br>Sipna Shikshan Prasarak Mandal</p>
            </div>
    </div>
        <div class="headingCom"> <h2>Session Chair</h2></div>
        <div class="boxA" id="organizing">
            <div class="iac">
                <h3>Dr.G.D.Bhutkar</h3>
                <p>Professor<br>Vishwakarma Institute of Technology(VIT), Pune</p>
            </div>
            <div class="iac">
                <h3>Dr.A.P.Thakre</h3>
                <p>Professor<br>Department of Electronics and Telecommunication <br>
                    Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.A.A.Gurjar</h3>
                <p>Professor and IQAC coordinator<br>Department of Electronics and Telecommunication <br> Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.Badal Soni</h3>
                <p>Associate Professor<br>NIT Silchar, Assam
                    </p>
            </div>
            <div class="iac">
                <h3>Dr.Dhanpratap Singh</h3>
                <p>Associate Professor<br>Lovely Professional University, Punjab
                    </p>
            </div>
       

    </div>
    
        <div class="headingCom"> <h2>International Advisory Committee</h2></div>
        <div  id="international">
           
            <div class="iac">
                <h3>Dr.Suresh Kalidas</h3>
                <p>Associate Professor <br>Yanbu Industrial college,Royal Commission,Yanbu,Saudi Arabia</p>
             
            </div>
            {{!-- <div class="iac">
                <h3>Dr.Prashant Suri</h3>
            </div> --}}
        </div>
        <div class="headingCom"><h2>National Advisory Committee</h2></div>
        <div class="box" id="national">
            <div class="iac">
                <h3>Dr.Rakesh Ranjan</h3>
                <p>Vice Chancellor <br>Sushant University,Gurgaon</p>
            </div>
            <div class="iac">
                <h3>Dr.Kamal Singh</h3>
                <p>Former Vice Chancellor<br>Sant Gadge Baba Amravati University,Amravati.</p>
            </div>
            <div class="iac">
                <h3>Dr.A.A.Ghatol</h3>
                <p>Former Vice Chancellor<br>Babasaheb Ambedkar Technological University,Lonere</p>
            </div>
            <div class="iac">
                <h3>Dr. Ajitkumar Gorakhanath Patil</h3>
                <p>Scientist<br>Biomedical Engineering</p>
            </div>
            <div class="iac">
                <h3>Dr. Manesh Kokare</h2>
                <p>Professor and Head,<br> Department of Electronics and Telecommunication Engineering<br>S.G.G.S. Institute Of Engineering and Technology, Vishnupuri, Nanded, Maharashtra, India
                </p>
            </div>
            <div class="iac">
                            <h3>Dr.R.N.Awade</h3>
                            <p>
                                Professor and TEQIP-II Coordinator,<br>
                                Faculty Incharge Finance
                                Veermata Jijabai Technical Institute (VJTI), Mumbai                            
                            </p>
            </div>
            <div class="iac">
                <h3>Dr.Md.Atiq</h3>
                <p>Professor and Head,<br>Department of Computer science and Engineering, S.G.B.A.U. Amravati University.</p>
            </div>
        </div>
        
        <div class="headingCom"><h2>Scientific Committee</h2></div>
        <div class="box1" id="scientific">
            <div class="iac">
            <h3>Dr.Pinki Roy</h3>
                <p>Associate Professor & Associate Dean Research & Consultancy<br>Department of Computer Science & Engineering<br>National Institute of Technology, Silchar, Assam, India
                </p>
            </div>
            <div class="iac">
                <h3>Dr.Bhavesh Gohil</h3>
                <p>Assistant Professor <br>Department of Computer Science and Engineering <br>NIT, Surat</p>
            </div>
            <div class="iac">
            <h3>Dr.S.V.Gumaste</h3>
                <p>Professor and Head<br>Department of Information Technology<br>MET's Institute of Engineering, Nashik 
                </p>
            </div>
            <div class="iac">
                <h3>Dr.Md.Atiq</h3>
                <p>Professor and Head,<br>Department of Computer science and Engineering, S.G.B.A.U. Amravati University.</p>
            </div>
            <div class="iac">
                <h3>Dr.Rahul Ingle</h3>
                <p>Assistant Professor <br>Veermata Jijabai Technical Institute (V.J.T.I), Mumbai</p>
            </div>
            <div class="iac">
            <h3>Dr.P.C.Sharma</h3>
                <p>Associate Professor<br>Department of Information Technology<br>Manipal University, Jaipur 
                </p>
            </div>
            <div class="iac">
            <h3>Dr.Rohit Raja</h3>
                <p>Associate Professor and Head<br>Department of Information Technology<br>School of Studies (Engineering and Technology)<br>Guru Ghasidas Vishwavidyalaya, Chattisgarh 
                </p>
            </div>
            <div class="iac">
            <h3>Dr.J.P.Patra</h3>
                <p>Professor<br>Department of Computer Science and Engineering<br>Shri Shankaracharya Institute of Professional Management and Technology, Raipur
                </p>
            </div>
            <div class="iac">
                <h3>Dr.M.U.Kharat</h3>
                <p>Professor and Head <br>Computer Engineering <br>MET Bhujbal , Knowledge City, Nashik</p>
            </div>
            <div class="iac">
                <h3>Dr.Viay Mane</h3>
                <p>Associate Professor<br>Vishwakarma Institute Of Information Technology, Pune</p>
            </div>     
            <div class="iac">
            <h3>Dr.G.R.Bamnote</h3>
                <p>Principal<br>Prof. Ram Meghe Institute of Technology and Research (PRMITR), Badnera, Amravati
                </p>
            </div>
            <div class="iac">
                <h3>Dr. P. M. Jawandhia</h3>
                <p>Principal<br>Pankaj Laddhad Institute of Technology & Management Studies, Buldhana</p>
            </div>
            <div class="iac">
                <h3>Dr.Somnath Thigare</h3>
                <p>Head & Associate Professor <br>Computer Science & Engineering <br>FTC Fabtech COE&R,Sangola,Solapur</p>
            </div>
            <div class="iac">
                <h3>Dr.A.S.Alvi</h3>
                <p>Professor <br>
                    Department of Information Technology <br>P.R.M.I.T.&R,Badnera, India</p>
            </div>
            <div class="iac">
                <h3>Dr.Makarand Sahade</h3>
                <p>Associate Professor and Head<br>Department of Computer Engineering<br>S.V.K.M, Institute of Technology, Dhule</p>
            </div>
            <div class="iac">
                <h3>Dr.A.D.Gawande</h3>
                <p>Professor and Head, <br> Department of Electronics and Telecommunication <br>Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.N.N.Kasat</h3>
                <p>Professor<br>Department of Electronics and Telecommunication <br>Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.A.S.Joshi</h3>
                <p>Professor<br>Department of Electronics and Telecommunication<br>Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.V.T.Gaikwad</h3>
                <p>Associate Professor<br>Department of Electronics and Telecommunication <br>,Sipna COET, India</p>
            </div>
            <div class="iac">
            <h3>Dr.V.S.Gulhane</h3>
                <p>Professor and Head<br>Department of Information Technology<br>Sipna College of Engineering and Technology, Amravati
                </p>
            </div>
            <div class="iac">
                <h3>Dr. A.B.Deshmukh</h3>
                <p>Associate Professor<br>Department of Information Technology <br>Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Prof.L.K.Gautam</h3>
                <p>Assistant Professor<br>Department of Information Technology <br>Sipna 	COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.S.V.Rode</h3>
                <p>Dean, Research <br>Sipna COET, India</p>
            </div>
            <div class="iac">
                <h3>Dr.S.L.Satarkar</h3>
                <p>Associate Professor and Head<br>Department of Computer Science and Engineering<br>College of Engineering and Technology, Akola, India</p>
            </div>
            <div class="iac">
                <h3>Dr.G.P.Dhok</h3>
                <p>Professor and Dean Academics<br>Department of Electronics and Telecommunication<br>Sipna COET, Amravati</p>
            </div>
            <div class="iac">
                <h3>Dr.D.G.Harkut</h3>
                <p>Associate Professor and Head<br>Department of Computer Science and Engineering<br>Prof. Ram Meghe College of Engineering and Management Badnera, Amravati</p>
            </div>

        </div>
        <div class="headingCom"> <h2>Local Organizing Committee</h2></div>
        <div class="box4" id="organizing">
            <div class="iac">
                <h3>Dr.V.K.Shandilya</h3>
                <p>Convenor</p>
            </div>
            <div class="iac">
                <h3>Dr.A.A.Bardekar</h3>
                <p>Co-Convenor </p>
            </div>
            <div class="iac">
                <h3>Prof.S.N.Sawalkar</h3>
                <p>Coordinator</p>
            </div>
            <div class="iac">
                <h3>Dr.P.A.Tijare</h3>
                <p>Organizing Secretary</p>
            </div>
            <div class="iac">
                <h3>Dr.S.S.Dhande</h3>
                <p>Member</p>
            </div>
            <div class="iac">
                <h3>Dr.H.R.Vyawhare</h3>
                <p>Member</p>
            </div>
            <div class="iac">
                <h3>Dr.G.S.Thakre</h3>
                <p>Member</p>
            </div>
            
        </div>

    </div>
    
    </section>
   
    <section class="et-slide" id="tab-speakers">
        <h1>Call For Paper</h1>
        <div class="asp1">
        <div class="row1">
            <div class="column1">
                <div class="card1">
                    <div class="container1">
                        <BR>
                        <h2>TOPICS</h2>
                        <h2>&</h2>
                        <h2>TRACKS</h2>
                        <p><a href="/tracks"><button class="button1">Read more</button></a></p>
                    </div>
                </div>
            </div>

            <div class="column1">
                <div class="card1">
                    <div class="container1">
                        <br>
                        <br>
                        <h2>AUTHOR'S</h2>
                        
                        <h2>GUIDELINES</h2>
                        <br>
                        <p><a href="/authorGuidelines"><button class="button1">Read more</button></a></p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
      
    </section>
     
    <section class="et-slide" id="tab-sponsors">
        <h1>Paper Submission</h1>
        <div class="asp1">
        <div class="row2">
      <div class="column2">
                <div class="card1">

                    <div class="container1">
                        <br>
                        <h2 style="margin: 3%;
    margin-bottom: 5%;">SUBMIT
                        YOUR
                        PAPER</h2>
                        <p><a href="/upload"><button class="button1">Submit</button></a></p>
                    </div>
                </div>
            </div>
            </div>
        <div class="row2">
      <div class="column2">
                <div class="card1">

                    <div class="container1">
                        <br>
                        <h2 style="margin: 3%;
    margin-bottom: 5%;">Payment Section</h2>
                        <div class="pay">
                            <img src="/static/images/qr.jpeg"  alt="QR Code">
                            <div class="cred">
                            <h3>Details Of Bank Transfer :</h3>
                            <p>Phone Pe Number: 9561584815</p>
                            <p>Name Of Account: HARSHA RANGRAO VYAWAHARE</p>
                            <P>Account Number: 919010072132519</P>
                            <p>Name Of The Bank: Axis Bank</p>
                            <p>Name Of Branch: Jaisthamb Chowk, Amravati (M.S.)</p>
                            <p>IFSC Code: UTIB0000265</p>
                            </div>
                        </div>
                        <br><br>
                        <h3>Please Fill The Form If Payment Is Done :</h3>
                        <br><br>
                            <form action="/" id="main" method="post" enctype="multipart/form-data">
                            <label>Your SiCON ID :</label>
                            <input type="text" placeholder="Case Sensetive" id="name" name="id">
                            <br><br>
                            <label>Upload Payment Recipt (Should be in pdf form) :</label>
                                <div class="input-group mb-3 " style="width: 92%; left: 2%">
                                {{!-- <label class="input-group-text" for="inputGroupFile01">Upload</label> --}}
                                <input type="file" class="form-control mr-4 ml-5" name="file"  id="name">
                                </div>
                            <p><button type="submit" class="button1">Submit</button></p>
                            </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
    </section>
    <section class="et-slide" id="tab-dates">
      
        <div class="test">
    <table>
        <h1>Important Dates</h1>
        <tr id="header">
            <th>Date</th>
            <th>Events</th>

        </tr>
        <tr>
            <td>MAY 10, 2023</td>
            <td>FINAL PAPER SUBMISSION</td>
        </tr>
        <tr>
            <td>MAY 24, 2023</td>
            <td>NOTIFICATION OF ACCEPTANCE</td>
        </tr>
        <tr>
            <td>JUNE 10, 2023</td>
            <td>CAMERA READY PAPERS</td>
        </tr>
        <tr>
            <td>JUNE 15, 2023</td>
            <td>LAST DATE OF PAYMENT</td>
        </tr>
    </table>
        </div>



    </section>
    
    
    <section class="et-slide" id="tab-faqs">
      <a href="/FAQs" style="text-decoration: none;"><h1>FAQs</h1>
      <h3>Click Here To Know More!</h3></a>
    </section>
    <section class="et-slide" id="tab-contact">
               <div class="heading">
        <h1>Contact Us</h1>
    </div>
    <div class="wrapper">
        <div class="committe">
            <div class="member">
                <h3 >Convenor</h3>
                <p>Dr. V. K. Shandilya<br><span >Professor and Head,<br>Department of Computer Science and Engineering</span></p>
                <p><a href="tel:+919881487103">+91 9881487103</a></p>
            </div>
            <div class="member">
                <h3 >Co-Convenor</h3>
                <p>Dr. A. A. Bardekar<br><span>Associate Professor<br>Department of Computer Science and Engineering</span></p>
                <p><a href="tel:+919923022088">+91 9923022088</a></p>
            </div>
            <div class="member">
                <h3 >Coordinator</h3>
                <p>Prof. S. N. Sawalkar<br><span>Assistant Professor<br>Department of Computer Science and Engineering</span></p>
                <p><a href="tel:+919860071758">+91 9860071758</a></p>
            </div>
            <div class="member">
                <h3>Organizing Secretary</h3>
                <p >Dr.P.A.Tijare<br><span >Professor<br>Department of Computer Science and Engineering</span></p>
                <p ><a href="tel:+919552048124" >+91 9552048124</a></p>
            </div>
        </div>
        <div class="rechus">
            <div class="items"><p><span>Email</span>:<br>siconinfo@sipnaengg.ac.in</p></div>
            <div class="items"><p><span>Address</span>:<br> In Front of Nemani Godown,<br> Badnera Road, Amravati- 444701</p></div>
            <div class="items"><P><span>Find Us On</span></P>
                <div class="icons">
                    <a href="https://www.facebook.com/sipnacoet/" target="_blank"><i class="bi bi-facebook" ></i></a>
                    <a href="https://www.linkedin.com/in/sipnacoet/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <!-- <a href=""><i class="bi bi-youtube"></i></a> -->
                    <a href="https://sipnaengg.ac.in/" target="_blank"><i class="bi bi-google"></i></a>
                    
                    
                </div>
                </div>
        </div>
    </div>
    <h1>Location Map</h1>
    <div id="googleMap" style="width:100%;height:400px;margin-bottom: 7%;margin-top: 3%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.75645039504!2d77.74498431461988!3d20.881864686078078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a52cf3db0cc7%3A0x68088c517ec9dc77!2sSipna%20College%20Of%20Engineering%20And%20Technology!5e0!3m2!1sen!2sin!4v1680881318668!5m2!1sen!2sin" width="600" height="450" style="border:0; width:80%; height 500px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    </section>
  </main>
<!-- JavaScript Libraries -->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/jquery/jquery-migrate.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/vendor/easing/easing.min.js"></script>
        <script src="/static/vendor/superfish/hoverIntent.js"></script>
        <script src="/static/vendor/superfish/superfish.min.js"></script>
        <script src="/static/vendor/waypoints/waypoints.min.js"></script>
        <script src="/static/vendor/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Main Javascript File -->
        <script src="/static/js/main.js"></script>

<!-- partial -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="static/js/script.js"></script>
    

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>
</html>
