<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error 401</h1>
    <h3>Looks like you've submitted from same email.</h3>
    <h4>Or something went wrong.</h4>
    <h4>Try Re-submitting the form</h4>
    <br><br>
    <p>Still Here?<br>
        Contact us!<br>We'll help you out
    </p><br><br><br>
    <a href="/">Back To Home</a>
</body>
</html>