<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
   <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div id="wrapper">
        <div class="Error">
            <h1>Error 401</h1>
        </div>
        <div class="info">
            <p >Looks like you've submitted from same email or something went wrong </p>
            <p>Try Re-submitting the form</p>
        </div>
        <div class="contact">
            <p>Still HERE ? Contact Us ! <br>We'll help you Out</p>
        </div>
        <p><a href="./"><button class="button">Back to Home</button></a></p>
    </div>
    
</body>
</html>