<!DOCTYPE html>
<html lang="en">

<head>
    <title>Submit Paper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/css/reg.css" type="text/css">

</head>

<body>

    <body>
        <div class="main">
        <h1 class="text-center display-4 my-4">REGISTRATION</h1>
        <form id="register" method="post" action="/upload" enctype="multipart/form-data">
            <div class="sub-main">

            <label>First Name : </label>
            <br>
            <input type="text" name="firstname" id="name" placeholder="Enter Your First Name" required>
            <br><br>
            <label>Last Name : </label>
            <br>
            <input type="text" name="lastname" id="name" placeholder="Enter Your First Name" required>
            <br><br>
            <label>Email Address :</label>
            <br>
            <input type="text" name="email" id="name" placeholder="it should contain @" required>
            <br><br>
            <label>Mobile Number :</label>
            <br>
            <input type="number" name="Mobile_Number" id="name" placeholder="Enter your valid Mobile no." required>
            <br><br>
            <label>Gender : </label>
            <br>
            <input type="radio" name="gender" id="male" value="male" checked>
            <span class="options" id="male">Male</span>
            <input type="radio" name="gender" id="female" value="female">
            <span class="options" id="female">Female</span>
            <br><br>
            <div class="form-check">
                            <input class="form-check-input" type="radio" name="topic" value="IOT" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                IOT
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="topic" value="Big_Data" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Big Data
                            </label>
                        </div>
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="topic" value="ML" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Machine Learning
                            </label>
                        </div>
                        <div class="custom-file mb-3 mt-3">
                            <input type="file" name="file" id="file" class="custom-file-input" required>
                            <label for="file" class="custom-file-label">Choose
                                File</label>
                        </div>

            
            <input type="submit" value="Submit" name="submit" id="submit">
        </div>


        </form>
    </div>

        



                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                        crossorigin="anonymous"></script>


    </body>

</html>