<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet"> 
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family:   font-family: 'Roboto', sans-serif;
;
    }
    h1{
        position: relative;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>
</head>
<body>
    <h1>Congratulations!</h1><br><br>
    <h1>You Have Successfully Submitted!</h1><br><br>
    <p>Please Check Your Email.</p><br><br>
    <a href="/">Back To Home Page</a>
</body>
</html>