<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted!</title>
    <link href="/static/images/sipnalogo.png" rel="icon">
   <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div id="wrapper">
        <div class="Error">
            <h1>Congratulations!</h1>
        </div>
        <div class="info">
            <p >You Have Successfully Submited!</p>
        </div>
        <div class="contact">
            <p>Pleas Check Your Email</p>
        </div>
        <p><a href="/"><button class="button">Back to Home</button></a></p>
    </div>
    
</body>
</html>