<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/track.css">

    <title>Tracks</title>
</head>

<body>
    <div class="tracks">
        <h1>Topics and Tracks for IOTBML 2023</h1>
        <h2>Conference will be held in Hybrid Mode</h2>
    </div>

    <div class="asp">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/static/images/iot.jfif" alt="iot" style="width:100%">
                    <div class="container">
                        <h3>IOT</h3>
                        <p><a href="/iot"><button class="button">Read more</button></a></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/images/bd.jfif" alt="Hockey" style="width:100%">
                    <div class="container">
                        <h3>Big Data</h3>
                        <p><a href="/big_data"><button class="button">Read more</button></a></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/static/images/ml1.jfif" alt="Hockey" style="width:100%; height: 200%;" >
                    <div class="container">
                        <h3>Machine Learning</h3>
                        <p><a href="/ml"><button class="button">Read more</button></a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>




</body>

</html>